ul.filter-nav {
  margin: 0;
  padding: 12px;
  li {
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px dotted gray;
    a {
      text-decoration: none;
      color: black;
    }
  }
  li.active-filter {
    background-color: $primary;
    a {
      color: white;
    }
  }
}
